<h1>Welcome!</h1>
<p>What is your question?</p>
<form action="/answer" class="form-group form-inline">
  <input type="text" name="question">
  <input class="btn btn-lg btn-success" type="submit" value="Ask!">
</form>


